@font-face {
    font-family: 'd-dindin-bold';
    src: url('../fonts/d-din-bold-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'D-DIN';
    src: url('../fonts/D-DIN.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'd-dindin-bold', sans-serif;
}

p, a, li {
    font-family: 'D-DIN', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #FF0000;
}

section {
   padding: 5px;
}
          
header {
    background-color: white;
    height: 75px;
 }

 .main-header-eventpage {
    text-align: center;
    font-size: 75px;
    padding: 5px;
    margin: 20px; 
 }

.main-header-faq {
    text-align: center;
    font-size: 75px;
    padding: 5px;
    margin: auto;
}
 
/*--------------------------------- GRID CSS ----*/
 .container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    padding: 10px;
 }


 .col_50 {
    width: 50%;
}

.col_33 {
    width: 33.33%;
    align-items: center;
}

.col_25 {
    width: 25%;
}

@media(max-width: 768px) {

    .col_50 {
        width: 100%;
    }

    .col_33 {
        width: 100%;
        align-items: center;    }

    .col_25 {
        width: 100%;
    }

}

@media (min-width: 1200px) {
    .container {
      max-width: 95%;
    }
  }
  
/*--------------------------------- GRID CSS ----*/

/* NAVIGATION */

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

 .navigation {
    display: inline-block;
    color: black;
    list-style: none;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    cursor: pointer;
 }

 .headerimage {
     width: 50px;
     height: 50px; 
 }

 .hamburger {
    display: none;
}

@media(max-width: 768px) {

    .hamburger {
        display: block;
        font-size: 2rem;
    }

    nav {
        background-color: #000;
        position: absolute;
        top: 75px;
        left: -100%;
        width: 100%;
        text-align: center;
        transition: transform 1s;
        z-index: 1;
    }

    nav.open {
        transform: translateX(100%);
    }

    nav ul li {
        display: block;
        font-size: 1.2rem;
        margin: auto;
    }

    .navigation {
        color: white;
    }

    a {
        color: #ffffff;
    }

}

/* PAGE 1 - TOP SECTION HERO IMAGE */

 .hero-banner {
    background: url(../images/Big\ shirt.jpg) no-repeat center center;
    background-size: cover;
    max-height: 500px;

    padding-top: 0px;
    padding-bottom: 70px;
}

.feature-box {
    background-color: rgba(255,255,255,0.75); 
    width: 30%;
    margin-top: auto;
    margin-right: auto;
    padding: 20px;
}

.feature-box h2 h3 p {
    margin-top: 0;
    font-size: 2vw;
}

.button {
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    width: 75%;
    height: 20px;
    color: white;
    background-color: red;
    border-radius: 4px;
    transition: ease-out 0.3s;
    outline: none;   
    z-index: 1;
}

.button:hover {
    color: red;
    border-radius: 4px;
}

.button::before {
    transition: 1s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: black;
}

.button:hover::before {
    transition: 1s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

@media (max-width: 768px) {
    
    .main-header-eventpage {
        font-size: 40px;
    }
    
    /*.hero-banner {
        padding-top: 50px;
        padding-bottom: 30px; 
    }*/

    .button {
        width: 60%;
        font-size: 10px;
        padding: 5px;
        text-align: center;
    }
    
    .feature-box {
        height: auto;
        width: 50%;
    }

    .feature-box h2 {
        font-size: 3vw;
    }

    .feature-box h3 {
        font-size: 3vw;
    }

    .feature-box p {
        font-size: 3vw;
    }

}

/* PAGE 1 - HOW IT WORKS */

.info-box {
    padding: 20px;
    color: black;
}

.mid-section {
    background-color: white;
}

@media (max-width: 992px) {
    .maps {width: 100%;} 
}


/* PAGE 1 - THREE TYPES OF HEATTECH - first page */

.product-info {
    background-color: white;
}

.heattech {
    text-align: center;
}

.logo-image {
    height: auto;
    width: 50%;
    padding: 10px;
}

.button-1 {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 10px;
    width: 75%;
    height: 35px;
    color: white;
    background-color: #FF0000;
    margin-top: 30px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    z-index: 1;
}

.center {
    margin: auto;
    width: 60%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: black;
    color: #FFFFFF;
}

.hidepop-up {
    display: none;
}

.button-1:hover {
    color: red;
    border-radius: 4px;
}

.button-1::before {
    transition: 1s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: black;
}

.button-1:hover::before {
    transition: 1s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.button-1::after {
    content: "HEATTECH";
}

.button-1:hover::after {
    content: "LEARN MORE";
}

@media (max-width: 992px) {
    .button-1 { 
        margin-bottom: 20px;
        width: 75%;
        height: 35px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .button-1 { 
        margin-bottom: 20px;
        width: 50%;
        height: 35px;
        text-align: center;
}

}

/* Page 2 FAQ Slider */

.caption {
	font-family: 'D-DIN';
	font-size: .9rem;
	color: #000;
	margin-top: .5rem;
	font-style: italic;
}

.bg-image {
	background-size: cover;
	background-position: center;
	background-color: #000;
}

.landscape {
	padding-bottom: 66%;
}

.bg-image-1 {
		background-image: url('../images/Big\ shirt.jpg');	
}

.bg-image-2 {
		background-image: url('../images/uniqlo_queue.jpg');	
}

.bg-image-3 {
		background-image: url('../images/uniqlo_entrance.jpg');	
}
.bg-image-4 {
		background-image: url('../images/uniqlo_prrender.png');	
}

.bg-image-5 {
		background-image: url('../images/uniqlo_polaroid.png');	
}

.slider-container {
	padding: 5px;
}

.slider-item {
	padding: .25rem;
	display: none;
}

.slider-item:first-child {
	display: block;
}

.slick-arrow {
    position: absolute;
    top: calc(50% - 18px);
    transform: translateY(-50%);
    left: 60px;
    color: #d3d3d3;
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 99;
}

.slick-arrow:hover {
    color: #FF0000;
}

.slick-next {
	left: auto;
    right: 4px;
}

.slick-prev {
	left: 4px;
    right: auto;
}

.slick-dots {
    padding: 0;
    text-align: center;
}

.slick-dots li {
    display:inline-block;
    background-color: rgba(0,0,0,0.3);
    height: 8px;
    width: 8px;
    margin: 0 10px;
    border-radius: 5%;
}

.slick-dots li.slick-active {
    background-color: rgba(0,0,0,1);
}

.slick-dots button {
    display: none;
}

@media (max-width: 768px) {
    
    .main-header-faq {
        font-size: 40px;
    }
}

/* Page 2 - FAQ Section */

.faq-section {
    background-color: white;
    padding: 0px 10px;
}
  
  .accordion__inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .accordion__question {
    background-color: #FF0000;
    border-radius: 4px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .question {
    padding: 7px 10px;
    border-radius: 4px 4px 0 0;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
    color: white;
  }
  
  .answer {
    display: none;
    padding-left: 10px;
    color: white;
  }

.read-more-show, .read-more-hide {
    padding: 18px 36px;;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 5px;
    width: 25%;
    height: 25px;
    color: #FF0000;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid rgb(0,0,0);
    border-radius: 0px;
    cursor: pointer;
    z-index: 1;
    /*-webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;*/
    transition: ease-out 0.8s;
    align-items: center;
}

.slide_left:hover {
    box-shadow: inset 0 0 0 50px #000;
    color:white;
  }

.hide {
    display: none;
  }

  @media (max-width: 768px) {
    
    .read-more-show, .read-more-hide {
        width: 50%;
        margin-top: 3px;
        margin-bottom: 3px;
        font-size: 8px;
    }
}

/* FOOTER SECTION */

.footer-distributed{
	background: #000;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* HEATTECH Logos */

.footerimage {
    width: 50px;
    height: 50px; 
}

.footer-distributed .footerimage {
    margin-bottom: 20px;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}

.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
    cursor: pointer;
}

@media (max-width: 992px) {

    .footer-distributed {
        font: bold 14px 
    }

    .footer-distributed .footer-company-name{
        font-size: 12px;
    }

    .footer-distributed form input,
    .footer-distributed form textarea{
        width: 250px;
    }

    .footer-distributed form button {
        padding: 10px 35px;
    }

}

@media (max-width: 768px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}








  






